
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}


#first-block{
    background-color: #1F2937;
    padding: 0 200px;
}
h1{
    font-size: 48px;
    font-weight: 900;
    margin:0;
}
p{
    margin:0;
}
.p-color{
    color: #F9FAF8;
}
.s-color{
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
}
#header-links, #first-block-left p, button{
    font-size: 18px;
}
button{
    background-color: #3882F6;
    padding: 8px 30px;
    font-style: bold;
    margin-top: 8px;
    border-radius: 10px;
    border: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-links{
    display: flex;
    gap: 18px;
}
#under-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
#first-block-left {
    max-width: 400px;
}
#first-block-right div{
    width: 500px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


#second-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}
h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0;
}
#cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 300px;
}
.square{
    width: 150px;
    height: 150px;
    border: solid 5px #3882F6;
    border-radius: 10px;
}
.card-info{
    text-align: center;
    text-justify: center;
    color: #1F2937;
    font-size: 17px;
    font-weight: 500;
    max-width: 150px;
    margin-top: 10px;
}
.card-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#third-block{
    padding: 100px 350px 80px;
    background-color: #E5E7EB;
}
#testimonial{
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
}
#author{
    color: #1F2937;
    font-weight:bolder;
    text-align: right;
    font-size: 22px;
    padding: 0 30px;
}

#forth-block{
    background-color: #3882F6;
    margin: 100px 250px;
    padding:50px 80px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
}
#forth-block button{
    color: #F9FAF8;
    border: solid 3px #F9FAF8;
    border-radius: 10px;
}

